#map {
    width: 100% !important; 
    height: 100% !important;
    background-color: #F6F6F4;
}

.boton-regresar {
    position: fixed;
    top: 20px;
    right: 12px;
    font-size: 23px;
}